In [1]:
import pandas as pd
from tensorflow.keras.preprocessing import sequence
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding
from tensorflow.keras.layers import LSTM

In [2]:
data = pd.read_csv("daily_eur_usd.csv").iloc[::-1].reset_index(drop=True)

In [3]:
data

            date    open    high     low   close
0     2002-01-28  0.8630  0.8663  0.8567  0.8610
1     2002-01-29  0.8611  0.8656  0.8587  0.8644
2     2002-01-30  0.8642  0.8674  0.8597  0.8614
3     2002-01-31  0.8613  0.8646  0.8575  0.8579
4     2002-02-01  0.8586  0.8642  0.8560  0.8614
...          ...     ...     ...     ...     ...
4995  2021-03-23  1.1934  1.1941  1.1840  1.1849
4996  2021-03-24  1.1849  1.1852  1.1808  1.1812
4997  2021-03-25  1.1812  1.1828  1.1760  1.1768
4998  2021-03-26  1.1768  1.1805  1.1766  1.1793
4999  2021-03-29  1.1787  1.1791  1.1773  1.1787

[5000 rows x 5 columns]

In [4]:
dn = data[1:].rename(columns={'open':'next_open', 'high':'next_high', 'low':'next_low', 'close':'next_close'}).reset_index(drop=True)
dn = dn.drop(['date'], axis=1)
dn

      next_open  next_high  next_low  next_close
0        0.8611     0.8656    0.8587      0.8644
1        0.8642     0.8674    0.8597      0.8614
2        0.8613     0.8646    0.8575      0.8579
3        0.8586     0.8642    0.8560      0.8614
4        0.8620     0.8711    0.8603      0.8700
...         ...        ...       ...         ...
4994     1.1934     1.1941    1.1840      1.1849
4995     1.1849     1.1852    1.1808      1.1812
4996     1.1812     1.1828    1.1760      1.1768
4997     1.1768     1.1805    1.1766      1.1793
4998     1.1787     1.1791    1.1773      1.1787

[4999 rows x 4 columns]

In [5]:
res = pd.concat([data, dn],axis=1)[:-1]

In [6]:
res

,date,open,high,low,close,next_open,next_high,next_low,next_close
0,2002-01-28,0.8630,0.8663,0.8567,0.8610,0.8611,0.8656,0.8587,0.8644
1,2002-01-29,0.8611,0.8656,0.8587,0.8644,0.8642,0.8674,0.8597,0.8614
2,2002-01-30,0.8642,0.8674,0.8597,0.8614,0.8613,0.8646,0.8575,0.8579
3,2002-01-31,0.8613,0.8646,0.8575,0.8579,0.8586,0.8642,0.8560,0.8614
4,2002-02-01,0.8586,0.8642,0.8560,0.8614,0.8620,0.8711,0.8603,0.8700
...,...,...,...,...,...,...,...,...,...
4994,2021-03-22,1.1880,1.1947,1.1873,1.1932,1.1934,1.1941,1.1840,1.1849
4995,2021-03-23,1.1934,1.1941,1.1840,1.1849,1.1849,1.1852,1.1808,1.1812
4996,2021-03-24,1.1849,1.1852,1.1808,1.1812,1.1812,1.1828,1.1760,1.1768
4997,2021-03-25,1.1812,1.1828,1.1760,1.1768,1.1768,1.1805,1.1766,1.1793
4998,2021-03-26,1.1768,1.1805,1.1766,1.1793,1.1787,1.1791,1.1773,1.1787

In [7]:
# Drop last 9 data points so we have a multiple of 10
X, Y = res[:-9].open, res[:-9].next_open

In [8]:
model = Sequential()
model.add(LSTM(80, activation='relu', input_shape=(10,1)))
model.add(Dense(10, activation='relu'))
model.add(Dense(10))
model.compile(optimizer='adam', loss='mse')
print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 80)                26240
_________________________________________________________________
dense (Dense)                (None, 10)                810
_________________________________________________________________
dense_1 (Dense)              (None, 10)                110
=================================================================
Total params: 27,160
Trainable params: 27,160
Non-trainable params: 0
_________________________________________________________________
None

In [9]:
X = X.values.reshape(len(X) // 10, 10, 1)
Y = Y.values.reshape(len(Y) // 10, 10, 1)

In [10]:
model.fit(X, Y, epochs=50, validation_split=0.2, batch_size=5)

Epoch 1/50
80/80 [==============================] - 4s 28ms/step - loss: 1.2546 - val_loss: 0.3235
Epoch 2/50
80/80 [==============================] - 1s 18ms/step - loss: 0.2977 - val_loss: 0.0926
Epoch 3/50
80/80 [==============================] - 1s 18ms/step - loss: 0.0684 - val_loss: 0.0089
Epoch 4/50
80/80 [==============================] - 2s 19ms/step - loss: 0.0076 - val_loss: 0.0013
Epoch 5/50
80/80 [==============================] - 2s 20ms/step - loss: 8.5871e-04 - val_loss: 1.1336e-04
Epoch 6/50
80/80 [==============================] - 1s 18ms/step - loss: 3.4797e-04 - val_loss: 2.6035e-04
Epoch 7/50
80/80 [==============================] - 2s 19ms/step - loss: 3.2934e-04 - val_loss: 1.5130e-04
Epoch 8/50
80/80 [==============================] - 2s 19ms/step - loss: 2.9089e-04 - val_loss: 1.4806e-04
Epoch 9/50
80/80 [==============================] - 1s 18ms/step - loss: 2.9705e-04 - val_loss: 1.1001e-04
Epoch 10/50
80/80 [==============================] - 1s 19ms/step - loss: 3.4462e-04 - val_loss: 1.1543e-04
Epoch 11/50
80/80 [==============================] - 1s 16ms/step - loss: 4.2558e-04 - val_loss: 1.7518e-04
Epoch 12/50
80/80 [==============================] - 1s 15ms/step - loss: 4.2456e-04 - val_loss: 1.0581e-04
Epoch 13/50
80/80 [==============================] - 1s 16ms/step - loss: 2.8450e-04 - val_loss: 1.1389e-04
Epoch 14/50
80/80 [==============================] - 1s 16ms/step - loss: 3.2012e-04 - val_loss: 1.0044e-04
Epoch 15/50
80/80 [==============================] - 1s 16ms/step - loss: 3.5538e-04 - val_loss: 6.0596e-04
Epoch 16/50
80/80 [==============================] - 1s 16ms/step - loss: 4.9707e-04 - val_loss: 2.1661e-04
Epoch 17/50
80/80 [==============================] - 1s 16ms/step - loss: 3.6465e-04 - val_loss: 2.3089e-04
Epoch 18/50
80/80 [==============================] - 1s 16ms/step - loss: 3.5606e-04 - val_loss: 1.4109e-04
Epoch 19/50
80/80 [==============================] - 1s 16ms/step - loss: 3.4626e-04 - val_loss: 1.5820e-04
Epoch 20/50
80/80 [==============================] - 1s 16ms/step - loss: 2.8808e-04 - val_loss: 1.1814e-04
Epoch 21/50
80/80 [==============================] - 1s 16ms/step - loss: 2.8810e-04 - val_loss: 1.8500e-04
Epoch 22/50
80/80 [==============================] - 1s 16ms/step - loss: 3.6551e-04 - val_loss: 1.6537e-04
Epoch 23/50
80/80 [==============================] - 1s 14ms/step - loss: 3.4366e-04 - val_loss: 3.7571e-04
Epoch 24/50
80/80 [==============================] - 1s 15ms/step - loss: 3.8388e-04 - val_loss: 3.6354e-04
Epoch 25/50
80/80 [==============================] - 1s 15ms/step - loss: 4.7546e-04 - val_loss: 1.2047e-04
Epoch 26/50
80/80 [==============================] - 1s 16ms/step - loss: 3.2401e-04 - val_loss: 3.1013e-04
Epoch 27/50
80/80 [==============================] - 1s 15ms/step - loss: 5.0173e-04 - val_loss: 2.3916e-04
Epoch 28/50
80/80 [==============================] - 1s 16ms/step - loss: 2.7705e-04 - val_loss: 2.9176e-04
Epoch 29/50
80/80 [==============================] - 1s 16ms/step - loss: 3.0917e-04 - val_loss: 9.6259e-05
Epoch 30/50
80/80 [==============================] - 1s 15ms/step - loss: 3.5496e-04 - val_loss: 9.1520e-05
Epoch 31/50
80/80 [==============================] - 1s 16ms/step - loss: 3.4390e-04 - val_loss: 1.0099e-04
Epoch 32/50
80/80 [==============================] - 1s 15ms/step - loss: 3.0622e-04 - val_loss: 1.3631e-04
Epoch 33/50
80/80 [==============================] - 1s 16ms/step - loss: 2.8736e-04 - val_loss: 1.0507e-04
Epoch 34/50
80/80 [==============================] - 1s 15ms/step - loss: 3.9750e-04 - val_loss: 1.7362e-04
Epoch 35/50
80/80 [==============================] - 1s 15ms/step - loss: 3.1523e-04 - val_loss: 1.6485e-04
Epoch 36/50
80/80 [==============================] - 1s 15ms/step - loss: 3.5126e-04 - val_loss: 1.3895e-04
Epoch 37/50
80/80 [==============================] - 1s 15ms/step - loss: 4.7628e-04 - val_loss: 2.7024e-04
Epoch 38/50
80/80 [==============================] - 1s 15ms/step - loss: 3.4124e-04 - val_loss: 1.5702e-04
Epoch 39/50
80/80 [==============================] - 1s 15ms/step - loss: 3.1699e-04 - val_loss: 9.7363e-05
Epoch 40/50
80/80 [==============================] - 1s 15ms/step - loss: 2.7024e-04 - val_loss: 7.6196e-05
Epoch 41/50
80/80 [==============================] - 1s 15ms/step - loss: 3.0761e-04 - val_loss: 8.6655e-05
Epoch 42/50
80/80 [==============================] - 1s 14ms/step - loss: 3.6696e-04 - val_loss: 8.7789e-04
Epoch 43/50
80/80 [==============================] - 1s 15ms/step - loss: 5.6801e-04 - val_loss: 3.0427e-04
Epoch 44/50
80/80 [==============================] - 1s 16ms/step - loss: 3.6439e-04 - val_loss: 9.3978e-05
Epoch 45/50
80/80 [==============================] - 1s 15ms/step - loss: 2.3551e-04 - val_loss: 8.8676e-05
Epoch 46/50
80/80 [==============================] - 1s 15ms/step - loss: 2.4370e-04 - val_loss: 6.3678e-05
Epoch 47/50
80/80 [==============================] - 1s 15ms/step - loss: 2.4015e-04 - val_loss: 8.4831e-05
Epoch 48/50
80/80 [==============================] - 1s 15ms/step - loss: 3.4751e-04 - val_loss: 9.5782e-05
Epoch 49/50
80/80 [==============================] - 1s 15ms/step - loss: 2.5569e-04 - val_loss: 2.0805e-04
Epoch 50/50
80/80 [==============================] - 1s 14ms/step - loss: 5.2100e-04 - val_loss: 8.0084e-05

In [11]:
model.predict(X[-1:])

array([[1.2034519, 1.1971551, 1.2030754, 1.2022582, 1.1925395, 1.1993794,
        1.2039878, 1.1986665, 1.1971697, 1.1913819]], dtype=float32)

In [12]:
Y[-1:]

array([[[1.2089],
        [1.2062],
        [1.1968],
        [1.1917],
        [1.1846],
        [1.1899],
        [1.1929],
        [1.1985],
        [1.1949],
        [1.1928]]])